@{
    ViewBag.Title = "About Us";
}
<section class="content">
<h2>About</h2>
<p>
    This website it built using the MVC technologies.<br />
    <ul>
      <li>M - Model</li>
      <li>V - View</li>
      <li>C - Controller</li>
    </ul>
</p>
</section>