@{
    ViewBag.Title = "Home Page";
}
<section class="content">
<header>
<h2>@ViewBag.Message</h2>
</header>

<p>
    Welcome to CSE 136 MVC sample project.  Click on [Log on] to start.
</p>
</section>