<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="cse132aEntities2" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LOUIS-HP;initial catalog=cse132a;persist security info=True;user id=test1;password=1234;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="cse136.Properties.Settings.cse132aConnectionString"
      connectionString="Data Source=LOUIS-HP;Initial Catalog=cse132a;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="cse136.Properties.Settings.Database1ConnectionString"
      connectionString="Data Source=|DataDirectory|\Database1.sdf"
      providerName="Microsoft.SqlServerCe.Client.3.5" />
  </connectionStrings>
</configuration>