<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DALTest.Properties.Settings.cse132aConnectionString"
      connectionString="Data Source=LOUIS-HP;Initial Catalog=cse132a;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="DALTest.Properties.Settings.Clientcse132aConnectionString"
      connectionString="Data Source=C:\Users\Louis\Documents\School\UCSD\cse136\cse136_vs2010_solution\DALTest\cse132a.sdf;Max Database Size=2047"
      providerName="Microsoft.SqlServerCe.Client.3.5" />
  </connectionStrings>
  <appSettings>
    <add key="dsn" value="Data Source=LOUIS-HP;Initial Catalog=cse132a;Integrated Security=True"/>
  </appSettings>
</configuration>