@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/M/_Layout.cshtml";
}

<section class="content">
<header>
<h2>About</h2>
</header>

<p>
    This website it built using the MVC technologies.<br />
    <ul>
      <li>M - Model</li>
      <li>V - View</li>
      <li>C - Controller</li>
    </ul>
</p>
</section>
